:root {
    --bg: #ffffff;
    --text: #1f2933;
    --muted-text: #6b7280;

    --primary: #ef4b5a;   /* Woxsen red */
    --primary-dark: #d63c4a;

    --header-bg: #000000;
    --card-bg: #f9fafb;
}

[data-theme="dark"] {
    --bg: #0b0f14;
    --text: #e5e7eb;
    --muted-text: #9ca3af;

    --header-bg: #000000;
    --card-bg: #111827;
}