{% extends "base.html" %}
{% block content %}
<section class="container" style="padding:3rem 0;">

    <h2 class="section-title">Events</h2>
    <p class="section-subtitle">
        Dive into the events here at the School of Technology, with student-led fests and hackathons for real-world experience.
    </p>
    {% for e in events %}
    <div style="margin-top:1.5rem;">
        <h4>{{ e.title }}</h4>
        <small>{{ e.date }}</small>
        <p>{{ e.description }}</p>
    </div>
    {% endfor %}
</section>
{% endblock %}